<h1>Beanie Scoreboard</h1>

<div class="container">
    <mat-grid-list *ngIf="scoreBoard && scoreBoard.players" cols="{{ scoreBoard.players.length + 2 }}" rowHeight="5:1">

        <!--HEADER-->
        <mat-grid-tile class="grid-tile">ROUND</mat-grid-tile>
        <mat-grid-tile class="grid-tile" *ngFor="let player of scoreBoard.players">{{ player.name }}</mat-grid-tile>
        <mat-grid-tile class="grid-tile">Dealer</mat-grid-tile>
    
        <!--SCORES-->
        <div *ngFor="let round of rounds; let i = index;">
            <mat-grid-tile class="grid-tile" [style.background]="(scoreBoard.activeRound == i) ? 'lightblue' : 'transparent'">{{ round }}</mat-grid-tile>
            <mat-grid-tile class="grid-tile" [style.background]="(scoreBoard.activeRound == i) ? 'lightblue' : 'transparent'" *ngFor="let player of scoreBoard.players">{{ DisplayScore(player.scores[i]) }}</mat-grid-tile>
            <mat-grid-tile class="grid-tile" [style.background]="(scoreBoard.activeRound == i) ? 'lightblue' : 'transparent'">{{ scoreBoard.players[i % scoreBoard.players.length].name }}</mat-grid-tile>
        </div>
    
        <!--TOTAL-->
        <mat-grid-tile class="grid-tile">Total</mat-grid-tile>
        <mat-grid-tile class="grid-tile" *ngFor="let player of scoreBoard.players">{{ Sum(player.scores) }}</mat-grid-tile>
        <mat-grid-tile class="grid-tile"></mat-grid-tile>
        
    </mat-grid-list>
</div>
