h1 {
    margin: 50px;
    text-align: center;
    font-weight: bold;
}

h2 {
    margin: 5px;
}

p {
    margin: 0;
    text-align: center;
}

label {
    text-align: center;
}

.center-container {
    margin: auto;
    padding: auto;
    align-content: center;
    align-items: center;
}

.container {
    margin: 50px;
    border: 1px solid black;
    max-width: 600px;
    min-width: 400px;
}

.round-header {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-style: none none solid none;
}

.score-header {
    margin: 25px 0;
    font-weight: bold;
}

.score-form {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.score-input-container {
    margin-bottom: 10px;
}

.score-input {
    margin: 20px 0;
}

.player-score {
    width:40%;
}

.save-button {
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    border-style: solid none none  none;
    background: transparent;
}

.error-message {
    color: red;
    font-weight: bold;
    padding: 20px;
}

.penaltyCheckbox {
    flex-direction: column;
}

.calculator-button {
    border: none;
    background: transparent;
}