<mat-grid-list cols="{{ players.length + 2 }}" rowHeight="5:1">

    <!--HEADER-->
    <mat-grid-tile>Round</mat-grid-tile>
    <mat-grid-tile *ngFor="let player of players">{{ player.Name }}</mat-grid-tile>
    <mat-grid-tile>Dealer</mat-grid-tile>

    <!--SCORES-->
    <div *ngFor="let round of rounds; let i = index;">
        <mat-grid-tile>{{ round }}</mat-grid-tile>
        <mat-grid-tile *ngFor="let player of players">{{ player.Scores[i] }}</mat-grid-tile>
        <mat-grid-tile>James</mat-grid-tile>
    </div>

    <!--TOTAL-->
    <mat-grid-tile>Total</mat-grid-tile>
    <mat-grid-tile *ngFor="let player of players">{{ Sum(player.Scores) }}</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    
</mat-grid-list>