<h2><mat-label>Game</mat-label></h2>
<!-- <div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Game Name</mat-label>
            <input [(ngModel)]='gameName' matInput placeholder="Enter a game name..." />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Number of Players</mat-label>
            <input matInput type="number" placeholder="Ex. 4" />
        </mat-form-field>
    </div>

    <button (click)="CreateGame()" mat-button>
        Enter
    </button>
</div> -->

<form [formGroup]="createGameForm">
    <h2><mat-label>Players</mat-label></h2>
    <div class="players-form-array" fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field appearance="standard" formArrayName="players" *ngFor="let player of players.controls; let i = index;">
            <input  [formControlName]="i" matInput placeholder="Enter a player name..."/>
        </mat-form-field>
    </div>
    <button mat-button (click)="AddPlayer()">Add Player</button>
</form>

<button mat-button (click)="StartGame()">Start</button>
<!-- <h2><mat-label>Players</mat-label></h2>
<div>
    <div *ngFor="let player of players; let i = index;">
        <mat-form-field  appearance="standard">
            <input  [(ngModel)]='players[i]' matInput placeholder="Enter a player name..." />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="standard">
            <input  [(ngModel)]='newPlayer' matInput placeholder="Enter a player name..." />
        </mat-form-field>
    </div>
</div> -->

<p>Test Values</p>
<p>{{ createGameForm.get('players').value }}</p>