<div class="container">
    
    <form [formGroup]="gameForm" fxLayout="column" fxLayoutAlign="space-around center">

        <h2>Game ID</h2>
        <input class="input-username" matInput 
            formControlName="gameId" 
            type="text"
            id="usernameId"
            required
            placeholder="Enter a player name..."/>

        <h2 class="header"><mat-label>Players</mat-label></h2>
        <h3>Enter players in turn order around the table.</h3>
        <div formArrayName="players" *ngFor="let player of players.controls; let i = index">

            <div [formGroupName]="i">
                <input class="input-username" matInput 
                    formControlName="username" 
                    type="text"
                    id="usernameId"
                    required
                    placeholder="Enter a player name..."/>
            </div>

        </div>
        
    </form>
    <button mat-button (click)="AddPlayer()">Add Player</button>
    <button mat-button (click)="StartGame()">Start Game</button>
</div>
