.mat-form-field-flex {
    padding: 0;
}

.header {
    padding: 25px 0 0 0;
}

.container {
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.input-username {
    margin: 5px;
}