h1 {
    text-align: center;
    margin: 25px;
}

label {
    margin: 25px;
}

.container {
    border: 1px solid black;
    width: 350px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}